.fasilitas{
    width: 100%;
    margin: auto;
    text-align: center;
    /* padding-top: 50px; */
}
.fasilitas-col{
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}
.fasilitas-col img{
    height: 100%;
    width: 100%;
    display: block;
}
.layer{
    background: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
}
.layer:hover{
    background: rgba(0, 105, 226, 0.7);
}
.layer h3{
    width: 100%;
    font-weight: 500;
    color: #fff;
    font-size: 26;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    opacity: 0;
    transition: 0.5s;
}
.layer:hover h3{
    bottom: 49%;
    opacity: 1;
}
.tartib-col{
    flex-basis: 45%;
    background: rgba(0, 105, 226, 0.7);
    color: white;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
}
.tartib-row{
    margin-top: 5%;
    display: flex;
    justify-content: space-evenly;
}
.tartib-col:hover{
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);
}