<!-- Feather Icon -->
<script src="https://unpkg.com/feather-icons"></script>

<style>
    footer .icon a {
        color: #000000;
        margin-right: 15px;
    }

    footer .icon a:hover {
        color: #0066ff;
    }
</style>

<footer class="footer mt-auto py-3 bg-light shadow">
  <div class="container">
    <!-- <span class="text-muted">Copyright © by Kelompok 2</span> -->
    <div class="row mt-2 justify-content-center">
      <div class="text col-md-8" style="font-weight: 600">Copyright © by Kelompok 2</div>
      <div class="icon col-6 col-md-4 d-flex justify-content-end">
        <!-- <ul> -->
        <a href="https://www.facebook.com/"><i data-feather="facebook"></i></a>
        <a href="https://www.instagram.com/"><i data-feather="instagram"></i ></a>
        <a href="https://www.google.co.id/"><i data-feather="globe"></i></a>
        <!-- </ul> -->
      </div>
    </div>
  </div>
</footer>

<script>
  feather.replace();
</script>
