<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="shortcut icon" href="/static/misc/favicon.ico" type="image/x-icon"/>
    <link rel="icon" href="/static/misc/favicon.ico" type="image/x-icon"/>
    <meta property="og:title" content="E-Perpus" />
    <meta property="og:description" content="Anda dapat menikmati koleksi buku digital yang kaya dan beragam, mencakup berbagai genre, penulis terkenal, dan topik menarik." />
    <meta property="og:image" content="/static/misc/buku.jpg" />
    
    <title>E-Perpus</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <!-- Style CSS -->
    <link href="{{ url_for('static', filename='user/style.css') }}" rel="stylesheet">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <!-- Bulma CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <!-- Google Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet" />
    <!-- Feather Icon -->
    <script src="https://unpkg.com/feather-icons"></script>
    <!-- JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
        integrity="sha384-l2VRKbYi1aGRZ5oxk/xDeQPQq5Ffmvj8ZkKW1D5FA7kFeM4M6F7L/lUn2P5xkiM+T" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <style>
        .nav-link.dropdown-toggle::after {
            content: '';
            /* Menambahkan konten pseudo-element */
            display: inline-block;
            width: 0;
            /* Lebar awal garis */
            height: 0;
            /* Tinggi awal garis */
            border-left: 5px solid transparent;
            /* Garis kiri */
            border-right: 5px solid transparent;
            /* Garis kanan */
            border-top: 5px solid;
            /* Garis atas */
            margin-left: 5px;
            /* Jarak antara tombol dan garis */
            vertical-align: middle;
            /* Menyesuaikan posisi vertikal garis */
        }
    </style>
        <script>
            function pinjam(id) {
                let username = $('#username').val();
                let nama_lengkap = $('#nama').val();
                let alamat = $('#alamat').val();
                let no_telp = $('#no_telp').val();
                let tgl_pinjam = $('#tgl_pinjam').val();
                let tgl_kembali = $('#tgl_kembali').val();
                let catatan = $('#catatan').val();
                $.ajax({
                    type: "POST",
                    url: "/proses_pinjam/${id}",
                    data: { 
                        username: username,
                        nama_give: nama_lengkap,
                        alamat_give: alamat,
                        telp_give: no_telp,
                        tgl_pinjam: tgl_pinjam,
                        tgl_kembali: tgl_kembali,
                        catatan: catatan,
                        book_id: id
                     },
                    success: function (response) {
                        if (response["result"] === "success"){
                            Swal.fire({
                                title: "Sukses!",
                                text: "Peminjaman Anda akan diproses. Tunggu validasi admin.",
                                icon: "success",
                                confirmButtonText: "OK"
                            }).then(() => {
                                window.location.reload();
                            });
                        }
                    }
                });
            }
        </script>
</head>

<body>
    {% if user_info %}
    {% if user_info.role == 'admin' %}
        {% include 'navbar_check/navbar_admin.html' %}
    {% elif user_info.role == 'member' %}
        {% include 'navbar_check/navbar_member.html' %}
    {% endif %}
{% else %}
    {% include 'navbar_check/navbar_viewer.html' %}
{% endif %}
    <section class="artikel_area section_gap py-5" id="artikelsection" style="min-height:100vh">
        <div class="container">
            <div class="mb-5">
                <h3 class="text-center fw-bold judulkategori">FORMULIR PEMINJAMAN BUKU</h3>

                <hr class="mx-auto">
            </div>
            <div class="mycards">
                <div class="row row-cols-1 row-cols-md-3 g-4" id="cards-box">
                    <div class="col-md-4">
                        <div class="card shadow h-100">
                            <img src="{{ url_for('static', filename='../' + find_book.sampul) }}"
                                class="card-img-top" style="height: 100%;">
                            <div class="card-body">
                                <h5 class="card-title mb-2">{{find_book.judul}}</h5>
                                <p class="card-text">Genre : {{find_book.genre}}</p>
                                <p>Penulis : {{find_book.pengarang}}</p>
                                <p>Tahun : {{find_book.tahun}}</p>
                                <p>Sinopsis : {{find_book.sinopsis}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <h4>Data Diri Peminjam</h4>
                        <form>
                            <div class="mb-3">
                                <input type="text" class="form-control" id="username" placeholder="Nama Lengkap"
                                    style="border: 2px solid grey;" value="{{user_info.username}}" hidden>
                                <input type="text" class="form-control" id="nama" placeholder="Nama Lengkap"
                                    style="border: 2px solid grey;">
                            </div>
                            <div class="mb-3">
                                <input type="text" class="form-control" id="alamat" placeholder="Alamat"
                                    style="border: 2px solid grey;">
                            </div>
                            <div class="mb-3">
                                <input type="text" class="form-control" id="no_telp" placeholder="No. Telepon"
                                    style="border: 2px solid grey;">
                            </div>
                            <div class="mb-3">
                                <label for="tgl_pinjam" class="form-label">Tanggal Pinjam</label>
                                <input type="date" class="form-control" id="tgl_pinjam" placeholder="Tanggal Pinjam"
                                    style="border: 2px solid grey;">
                            </div>
                            <div class="mb-3">
                                <label for="tgl_kembali" class="form-label">Tanggal Kembali</label>
                                <input type="date" class="form-control" id="tgl_kembali" placeholder="Tanggal Kembali"
                                    style="border: 2px solid grey;">
                            </div>
                            <div class="form-floating">
                                <textarea class="form-control" placeholder="Catatan" id="catatan"
                                    style="height: 100px; border: 2px solid grey;"></textarea>
                                <label for="catatan">Catatan</label>
                            </div>
                            <hr class="mx-auto">
                            <button type="button" onclick="pinjam('{{find_book.id}}')" class="btn btn-primary">Proses</button>
                        </form>
                    </div>
                </div>
            </div>
    </section>

    {% include 'footer.html' %}
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script>
</body>

</html>